<p>
  <strong>Title:</strong>
  <div id='title'><%= @image.title %></div>>
</p>

<p>
  <strong>Text:</strong>
  <div id='text'><%= image_tag(@image.text) %></div>
</p>


<%= link_to 'Back', images_path %>
